body {
    background-color: lightseagreen;
    font-family: 'Roboto', sans-serif;
    width: 90%;
    text-align: center;
    
    }
    
    /*header*/
    #header{
        background:rgb(8, 28, 71);
        text-align: center;
        color: white;
        width: 100%;
        margin: auto;
        flex-direction: column;
        border: 2px solid brown;
    }