body{
  background:cadetblue;
  width: 96%;   
  padding: 1em 2%;   
  float: left;   
  clear: both;   
  font-size: 14px;   
  font-size: .875rem;  
  margin: auto;

   }
   
   #header{
       background: cadetblue;
       padding: 0%;
       text-align: center;
       position: relative;
       left: 280px;
       top: 0px;
       margin-top: auto;
       width: 50%;
       border: 2px solid gray;

   }
   
   
   #key-text{
    margin: auto;
    padding: 2%;
    text-align: center;
    width: 40%;
    position: absolute;
    left: 10px;
    top: 6px;
    font-size: 24px;
    font-family: bold;
    color: firebrick;
   }

   #key{
    margin: auto;
    padding: 2%;
    text-align: center;
    width: 30%;
    height: 14%;
    position: absolute;
    left: 70px;
    top: 50px;
    background:wheat;
   }
   
   #value-text{
    margin: auto;
    padding: 2%;
    text-align: center;
    width: 40%;
    position: absolute;
    left: 300px;
    top: 10px;
    font-size: 25px;
    color: firebrick;
   }

   #value-value{
    padding: 1%;
    text-align: center;
    width: 30%;
    height: 15%;
    position: absolute;
    left: 280px;
    top: 50px;
    background:wheat;
     
   }

   #cruding{
    margin: auto;
    padding: 1%;
    text-align: center;
    width: 50%;
    position: absolute;
    left: 270px;
    top: 200px;
   }

   #favoriting{
    margin: auto;
    padding: 1%;
    text-align: center;
    width: 50%;
    position: absolute;
    left: 280px;
    top: 430px;
   }
      
      #call-it{
       margin: auto;
       padding: 1%;
       text-align: center;
       
    }
   #value-type{
    padding: 1%;
    width: 15%;
    position: absolute;
    left: 480px;
    top: 50px;
    overflow: hidden;
    background:wheat;
   }
   
   #display-zone{
       color: black;
       background: blanchedalmond;
       position: absolute;
       left: 210px;
       top: 145px;
       width: 45%;
       
    
   }

   #footer{
    background: cadetblue;
    padding: 1%;
    text-align: center;
    position: relative;
    left: 280px;
    top: 450px;
    margin-top: auto;
    width: 50%;
    border: 2px solid gray;
    height: 10%;
    
   }